body{
    background: rgb(105, 168, 226);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: white;
    font-size: 4rem;
}

div{
    padding: 20px 50px;
    background: white;
    font-size: 1rem;
}